@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lusitana&display=swap');

.App {
  text-align: center;
  font-family: 'Lusitana', serif;
  font-size: 18px;
}

.header,
footer {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

.header {
  background-color: #2c2c2c;
  color: #ffffffbe;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.header p {
  padding: 0 0.5em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hightext {
  color: white;
}

.lowtext {
  color: #000000;
  background-color: #ffffffbe;
  width: 50vw;
  padding: 0.5em;
  border-radius: 10px;
}

.boxtile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boxed {
  background-image: url("./images/brandable-box-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1b1b13bb;
  background-blend-mode: overlay;
  padding: 4.5em 1em;

  color: white;
}

.boxed a {
  color: white;
}

.land {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  margin: 3em 0;
}

section img {
  border-radius: 1.5em;
  width: 300px;
  height: 304px;
}

.sect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

section {
  margin: 1em;
}

article {
  text-align: left;
}

/* Footer Section */

footer {
  background-color: #2c2c2c;
  position: static;
  bottom: 0;
  color: white;
  padding: 0.5em;
}

footer p {
  text-decoration: none;
  color: #ffffff;
  margin: 0.3em;
}

.foot {
  display: flex;
  flex-direction: column;
}

.foot form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.foot input {
  width: 10em;
  border: none;
  border-radius: 5px;
}

.foot button,
.foot input,
.boxtile button {
  padding: 0.5em;
}

.foot button,
.boxtile button {
  background-color: white;
  color: #02a4da;
}

.footinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* End of Footer Section */

.limg {
  width: 50vw;
  margin-top: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0.5em;
  padding: 0.7em;
  width: 50vw;
  border: none;
  border-radius: 5px;
  background-color: #ffffffbe;
  outline-color: #02a4da;
}

input:valid {
  outline-color: green;
}
input:invalid {
  outline-color: red;
}

button,
.ll {
  margin: 1em;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #02a4da;
  color: white;
  font-weight: 550;
}

.ll {
  text-decoration: none;
  padding: 0.8em;
  margin-top: 1em;
  background-color: #3199bc;
  color: white;
}

.pimg {
  width: 9em;
}